.navigation-unit {
    display: block;
}
.image-animal {
    --span: 5;
    margin-bottom: 24px;
}
.general-information {
    --span: 7;
}
.title-characteristics  {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
}
.table-characteristics{
    border-collapse: collapse;
    width: 100%;
}
.table-characteristics tr {
    height: 32px;
}

.feature-name {
    width: 296px;
    opacity: 0.5;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
}
.silver-row {
    background-color: rgba(196, 196, 196, .1);
}
.title-price {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin: 18px 0 8px 0;
}
.price {
    color: var(--yellow-color);
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    margin-bottom: 14px;
}
.buttons button {
    padding: 10px 20px;
    width: auto;
    height: auto;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}
.white-button {
    background-color: #F9F9F9;
    border: 1px solid #EAEAEA;
}
@media (max-width: 1023px) {
    .silver-row td {
        width: 50%;
    }
}